body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
}

.head_content {
    display: flex;
}

.header span {
    color: rgb(223, 77, 19);
    font-family: 'Arima', cursive;
    font-size: 45px;
}

.header h1 {
    font-size: 40px;
    color: white;
}

.header p {
    color: whitesmoke;
}

.header {
    width: 50%;
    padding: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.header input {
    border: none;
    padding: 15px 20px;
    font: 700;
    background-color: rgb(223, 77, 19);
    color: white;
    border-radius: 50px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.header input:hover {
    transform: translateY(-7px);
}

.header img {
    width: 700px;
}

.about_us {
    background-image: url(images/Need/bg.png);
    background-repeat: no-repeat;
}

.about_img img {
    height: 500px;
    width: 450px;
    margin-left: 30px;
}

.about_text {
    margin-top: 200px;
}

.about_text h2 {
    color: black;
}

.rec h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}

.rec .text {
    text-align: center;
}

.items {
    display: flex;
}

.rec_item img {
    width: 350px;
    height: 300px;
    border-radius: 30px;
    margin-top: 27px;
    margin-left: 27px;
}

.rec_item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}

.rec_item:hover {
    cursor: pointer;
    transform: translateY(-7px);
}

.rec_item h2,
p {
    text-align: left;
    margin-left: 25px;
}

.rec_item h2 {
    color: black;
}

.social_f {
    display: flex;
    margin: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.social_f h1 {
    color: black;
}

.youtube {
    width: 30%;
    margin: 20px 5%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.youtube:hover {
    transform: translateY(-7px);
    cursor: pointer;
}

.youtube p {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

footer .orange {
    color: rgb(245, 124, 10);
}

footer .gray {
    color: gray;
}

footer p {
    text-align: center;
    color: rgb(155, 157, 158);
}